.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: var(--screen-size-mobile);

  font-family: 'Inter', 'Segoe UI', sans-serif;
  font-weight: 400;
  font-size: var(--main-text-font-size);
  line-height: var(--main-text-line-height);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
