.lead__title {
  max-width: 720px;
  margin: 0;
  padding: 0 var(--main-padding-size);

  font-size: 40px;
  line-height: 1.1;
  font-weight: 900;

  @media screen and (min-width: 768px) {
    font-size: 96px;
    line-height: 1.04;
  }
}
